.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    font-size: 16px;
    padding: 20px 0;

    .logo_wrap {
        h1{
            margin-bottom: 0;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;

        .item{
            margin: 0 20px;
            color: #999;
            cursor: pointer;
            border-bottom: 1px solid #fff;


            &.active,
            &:hover {
                color: #0084ff;
                border-color: #0084ff;
            }
        }
    }
}